
  
}
.center{
  text-align: center;
  background-color: #6AB1F8;
}

.justify{
  text-align: justify;
}

.logo_site{
	width: 40px;
}

.question_block{
	margin-top: 150px;
	margin-left: 400px;
	background-color: #86D6F8;
}

